# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Lean packages
lake-packages/
build/

## Yun-Rong Luo added
# Binaries
src/cadical
src/cpog-check
src/cpog-gen
src/evalSSAT
src/drat-trim
tools/d4
tools/SharpSSAT
tools/cadical
tools/drat-trim
# test files
test*/
*test/
# ignore
.DS_Store
.gitignore
